body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}
p{
  line-height: 1.5em;
  font-size: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}
h1 {
  font-size: 2em;
  line-height: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.5em;
  line-height: normal;
  margin-top: .5em;
  margin-bottom: .5em;
}
a{
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color:#0020F4;
  } /* unvisited */
  a:visited {
    color:#0070BB;
    } /* visited */
    a:hover {
      color:#3BA1FC;
      } /* mouse over */

        ul {
          list-style-type: none;
          float: right;
        }

        li {
          float: right;
          padding: 30px;
        }

        article {
          padding-top: 100px;
        }

        .container {
          margin: 0 auto;
          width: 50%;
        }
